body {
	background-color: #0f6a7b;
	padding: 25px;
	letter-spacing: 0.1em;
	font-family: sans-serif;
}
h1 {
	text-align: center;
	margin-bottom: 13vh;
}
form {
	min-height: 54vh;
}
span {
	display: block;
	margin-bottom: 7px;
	font-weight: bolder;
	font-size: 110%;
	/*letter-spacing: 0.1em;*/
}
#candidates {
	color: white;
}
input {
	margin-bottom: 15px;
}
p {
	font-size: 110%;
	font-weight: bolder;
	padding-left: 10px;
	/*color: white;*/
}
.button {
	padding: 6px;
	border-radius: 3px;
	border: none;
	font-size: 103%;
	margin: 12px 20px;
	margin-left: inherit;
}
input:hover {
	cursor: pointer;
}
footer {
	text-align: center;
	color: white;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: #63a25d;
}